{% extends 'base.html' %}


{% block sidebarcontent %}
<style>
    #hr3{
            display: block;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
            background-color: #666;
            height: 210px;
            overflow-y: scroll;
            overflow-x: scroll;
            }
</style>
 <!-- Breadcrumbs-->
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"    aria-haspopup="true" aria-expanded="false" >
            <i class="fas fa-fw fa-folder"></i>
            <span>Server</span>
          </a>

          <div class="dropdown-menu" aria-labelledby="pagesDropdown"  >
              <div id="hr3">

               {% for cam in cameras %}
                 <a class="dropdown-item" href="{{ url_for('viewsinglecam',camname=cam)}}">{{cam}}</a>
               {% endfor %}
              </div>

          </div>
        </li>


{% endblock %}

{% block content %}
 <!-- Breadcrumbs-->
    <style>
            #container {
            margin: 0px ;
            width: 270px;
            height: 210px;
            border: 10px #333 solid;
            background-color: #666;
            }
            #container2 {
            margin: 0px ;
            width: 270px;
            height: 210px;
            border: 10px #333 solid;
            background-color: #666;
            }

            #hr {
            display: block;
            margin-top: 0.0em;
            margin-bottom: 0.0em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 5px;
            background-color: #666;
            }

            </style>
    <div>
       <hr id="hr">
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('addview')}}">
                <i class="fas fa-cloud-download-alt fa-report"></i>
                <span>Add Views</span></a>
                </li>
                </ul>
            </form>
        </nav>
         <ol class="breadcrumb">
      <!-- Page Content -->
          <form action="/savecamview" method="POST">
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="name" name="name" class="form-control" placeholder="View name" required="required" autofocus="autofocus">
                    <label for="name">View name</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="cam1" name="cam1" class="form-control" placeholder="cam1" required="required" autofocus="autofocus">
                    <label for="cam1">cam1</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="cam2" name="cam2" class="form-control" placeholder="cam2" required="required">
                    <label for="cam2">cam2</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="cam3" name="cam3" class="form-control" placeholder="cam3" required="required" autofocus="autofocus">
                    <label for="cam3">cam3</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="cam4" name="cam4" class="form-control" placeholder="cam4" required="required">
                    <label for="cam4">cam4</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="cam5" name="cam5" class="form-control" placeholder="cam5" required="required" autofocus="autofocus">
                    <label for="cam5">cam5</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="cam6" name="cam6" class="form-control" placeholder="cam6" required="required">
                    <label for="cam6">cam6</label>
                  </div>
                </div>
              </div>
            </div>
            <input type="submit" value="Save" class="btn btn-primary btn-large btn-block" >

          </form>

          </ol>

    </div>

{% endblock %}
