{% extends 'base.html' %}

{% block content %}
<style>
            #container {
            margin: 5px ;
            width: 270px;
            height: 220px;
            border: 10px #333 solid;
            background-color: #666;
            }

            #container2,container3 {
            border:10px #333 solid;
            margin: 0px ;
            width: 800px;
            height: 600px;
            background-color: #333;
            }

            #hr,hr1,my_camera {
            display: block;
            margin-top: 0.0em;
            margin-bottom: 0.0em;
            margin-left:  auto;
            margin-right: auto;
            width:300px;
            border: 10px;
            border-style: inset;
            border-width: 5px;
            background-color: #336;

            }

            #heads{
            width: auto;
            height: auto;
            border: 2px #333 solid;

            }

            </style>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>




<div class="container">

 <ol class="breadcrumb" id="heads">
     <div >
         <b>Vehicle Track</b>
     </div>
  </ol>

  <ol class="breadcrumb" >
    <form method="POST"  id="container2" action="/enrolluser">

        <div class="form-group" >
             <div class="row">
                      <div class="col-md-6">
                            <input type="hidden" name="image" class="image-tag">
                            <div id="results"><font color="white"><h6>Provide Vehicle Detiles to Track....</h6></font></div>
                        </div>

                      <div class="col-md-6">
                          
             </div>

		<div>
              </div>
   </div>
        <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="required" autofocus="autofocus">
                    <label for="name">Vehicle Type</label>
                  </div>
                </div>
              </div>
        </div>
        <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="mobile" name="mobile" class="form-control" placeholder="mobile" required="required">
                    <label for="mobile">Vehicle number</label>

 		<div class="col-md-12 text-center">
                <button class="btn btn-success" align="right">Submit </button>
        </div>
                  </div>
                </div>

                

    </form>
  </ol>
</div>


 <!-- /.container-fluid -->
{% endblock %}
